*{
    margin: 0px;
    padding: 0px;
    background-color: #f9f9f9;
}
.vertical_bar{
    height: 1600px;
    width: 240px;
    border: 1px solid rgb(216, 14, 14);
}
.video_grit{
    height: 1600px;
    width: 100%;
    border: 1px solid grey;
}
.content{
    display: flex;
    flex-direction: row;
}
.header-container{
    /* background-color: rgb(211, 207, 221);  */
    border: rgb(50, 9, 92) 1px solid;
    height: 56px;
    width: 100vw;
    margin-left: 0px;
    padding-left: 0px;

    display:flex;
    flex-direction: row;
    align-items: center;
}
.header{
    /* background-color:rgb(1, 1, 15);  */
    /* border: rgb(196, 199, 196) 1px solid; */
    height: 56px;
    width: 100vw;
    margin-top: 0px;
    margin-left:16px; 
    margin-right:16px;

    border-bottom: 1px solid grey;

    display:flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}
.container_1{
    /* background-color: rgb(255, 25, 0); */
    margin: 0px;
    /* border: rgb(236, 233, 233) 1px solid; */
    height: 56px;
    width: 169px;

    display:flex;
    flex-direction: row;
    align-items: center;
}
.container_2{
    /* background-color: rgb(255, 25, 0); */
    margin: 0px;
    /* border: rgb(228, 225, 225) 1px solid; */
    height: 56px;
    width: 50%;

    display:flex;
    flex-direction: row;
    align-items: center;
}
.container_3{
    /* background-color: rgb(255, 25, 0); */
    margin: 0px;
    /* border: rgb(214, 211, 211) 1px solid; */
    height: 56px;
    width: 225px;
    padding-right: 8px;

    display:flex;
    flex-direction: row;
    align-items: center;

    justify-content: flex-end;
}
.hamburger{
    background-color: #f9f9f9;
    margin-right: 4px;
    height: 24px;
    width: 24px;
    padding: 8px;
    cursor: pointer;

    display:flex;
    flex-direction: row;
    align-items: center;
}
.yt_logo{
    margin: 0px;
    height: 20px;
    width: 90px;
    padding: 18px 14px 18px 16px;
    cursor: pointer;

    display:flex;
    flex-direction: row;
    align-items: center;
}
.co{
    width: 13.4px;
    height: 44px;
    color: #030303;
    margin-left: -10px;
    margin-top: 12px;
    padding-right: 22px;
    background: transparent;
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
}

.microphone-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    /* justify-content:right */
}
.microphone-circle{
    background-color: rgba(214, 211, 219, 0.679);
    width: 34px;
    height: 34px;
    border-radius: 17px;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.s-circle{
    background-color: rgba(98, 0, 255, 0.679);
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: solid  1px #f9f9f9ef;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav_bar{
    height: 40px;
    width: 100%;
    border:rgb(209, 208, 208) 1px solid;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

.nav_bar_in{
    height: 30px;
    width: 100%;
    /* border:rgb(209, 208, 208) 1px dotted; */
    border: transparent;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 10px;
    justify-content: flex-start;
    outline: none;
    
}
.lupe_box{
    height: 40px;
    width: 86px;
    border:rgb(209, 208, 208) 1px solid;
    border-left: transparent;
    background-color: #e4e3e3;
    margin-right: 8px;

    display:flex;
    flex-direction: row;
    align-items: center;
    /* margin: 0px;
    margin: 0px; */
    justify-content: center;
}
.icons{
    background-color: transparent;
    width: 24px;
    height: 24px;
    padding: 8px;

    display:flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;
}
.iduser{
    background-color: transparent;
    font-weight: 12px;
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;
} */
.frame{
    background-color: rgb(230, 230, 230);
    height: 1600px;
    width: 100%;
 
}

